In [451]:
import pandas as pd
import numpy as np

ingesta de archivos

In [452]:
df_amazon = pd.read_csv(r'datsets/csvs/amazon_prime_titles.csv')
df_disney= pd.read_csv(r'datsets/csvs/disney_plus_titles.csv')
df_hulu = pd.read_csv(r'datsets/csvs/hulu_titles.csv')
df_netflix=pd.read_csv(r'datsets/csvs/netflix_titles.csv')

CREAMOS LA COLUMNA PLATAFORMA PARA FUTURAS CONSULTAS

In [453]:
df_amazon['plataform']='amazon'
df_disney['plataform']='disney'
df_hulu['plataform']='hulu'
df_netflix['plataform']='netflix'

CREAMOS EL CAMPO ID Y LE ASIGNAMOS LA NOMECLATURA PEDIDA

In [454]:
df_amazon['ID']= 'a'+df_amazon['show_id']
df_disney['ID']= 'd'+df_disney['show_id']
df_hulu['ID']= 'h'+df_hulu['show_id']
df_netflix['ID']= 'n'+df_netflix['show_id']

In [482]:
df_hulu[df_hulu['plataform']=='hulu']['cast'].unique

<bound method Series.unique of 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3068   NaN
3069   NaN
3070   NaN
3071   NaN
3072   NaN
Name: cast, Length: 3073, dtype: float64>

UNA VEZ REALIZADO LOS PASOS ANTERIORES CONCATENO LOS ARCHIVOS PARA QUE QUEDE UN SOLO DF, PARA TRABAJAR MAS COMODO

In [455]:
frames= [df_amazon,df_disney,df_hulu,df_netflix]
listado_gral = pd.concat(frames, axis=0)
listado_gral.shape

(22998, 14)

REALIZO DIFERENTES CONTROLES PARA ENTENDER EN PROFUNDIDAD EL DF

In [456]:
listado_gral[listado_gral.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, plataform, ID]
Index: []

TOMO LA COLUMNA RATING Y REEMPLAZO LOS VALORES FALTANTES POR LA LETRA 'G' PARA CUMPLIR LA CONSIGNA PEDIDA Y COMPRUEBO

In [457]:
listado_gral.fillna({'rating': 'G'}, inplace=True)
listado_gral.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,as2

PASO TODO A MINUSCULA PARA CUMPLIR LA CONSIGNA

In [458]:
listado_gral['title']=listado_gral['title'].str.lower()
listado_gral['type']=listado_gral['type'].str.lower()
listado_gral['director']=listado_gral['director'].str.lower()
listado_gral['cast']=listado_gral['cast'].str.lower()
listado_gral['country']=listado_gral['country'].str.lower()
listado_gral['listed_in']=listado_gral['listed_in'].str.lower()
listado_gral['description']=listado_gral['description'].str.lower()
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"March 30, 2021",2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1

MODIFICO EL FORMATO DE LA FECHA

In [459]:
listado_gral['date_added']=pd.to_datetime(listado_gral['date_added'],errors='raise',format=None,yearfirst=True)#corrije todos los valores que no tienen fecha a nat(not a time)
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1

SEPARO LA COLUMNA DE DURACION PARA DIVIDIRLO EN LOS REGISTROS QUE SON SERIES DE LOS QUE SON PELICULAS

In [460]:
separated = listado_gral["duration"].str.split(' ', n=1, expand=True)
listado_gral["duration_int"] = separated[0]
listado_gral["duration_type"] = separated[1]
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1,113,min

elimino la columna duracion para que quede mas organizado

In [403]:
#listado_gral.drop(['duration'], axis=1,inplace=True)

In [461]:
listado_gral["duration_int"] = listado_gral["duration_int"].fillna(0)
listado_gral['duration_int'] = listado_gral['duration_int'].astype('int64')

In [467]:
listado_gral = listado_gral.fillna('Sin dato')
listado_gral.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
description      0
plataform        0
ID               0
duration_int     0
duration_type    0
dtype: int64

agregamos la columna score que indica la valoracion de los clientes a cada pelicula

fin

ingestos los archivos de los dataset del rating que seran utilizados para las consultas futuras.

In [406]:
df1 = pd.read_csv('datasets_rating/ratings/1.csv')
df2 = pd.read_csv('datasets_rating/ratings/2.csv')
df3 = pd.read_csv('datasets_rating/ratings/3.csv')
df4 = pd.read_csv('datasets_rating/ratings/4.csv')
df5 = pd.read_csv('datasets_rating/ratings/5.csv')
df6 = pd.read_csv('datasets_rating/ratings/6.csv')
df7 = pd.read_csv('datasets_rating/ratings/7.csv')
df8 = pd.read_csv('datasets_rating/ratings/8.csv')

In [407]:
#concatenamos los datasets
frames =[df1,df2,df3,df4,df5,df6,df7,df8]
rating_unido = pd.concat(frames, axis=0)

In [408]:
#agrupamos los valores 'movieID' con el 'rating' para calcular la media de las valoracion de los clientes respecto a las peliculas
mean_score= rating_unido.groupby('movieId')['rating'].mean()

In [409]:
#corroboramos los duplicados y eliminamos los que aparezcan 
raiting_unido_sd=rating_unido.drop_duplicates(subset='movieId')

In [410]:
#agregamos la volumna score , con el valor de la media de la valloracion de los clientes sobre cada pelicula
listado_gral['score'] = raiting_unido_sd.groupby('movieId')['rating'].transform(lambda x: mean_score.loc[x.name])

In [412]:
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID,duration_int,duration_type,score
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30 00:00:00,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1,113,min,3.549127

In [415]:
listado_gral['duration_int'] = pd.to_numeric(listado_gral['duration_int'], errors='coerce')

In [416]:
listado_gral['duration_int'] = listado_gral['duration_int'].fillna(0).astype(int)

In [489]:
listado_gral=pd.DataFrame(listado_gral)
listado_gral.to_csv('datsets/ETL.csv')

1

In [ ]:
def get_max_duration(año:int,tipo_duracion:str, platforma:str):
    nuevalista = listado_gral[(listado_gral['release_year'] == año) &  (listado_gral['duration_type'] == tipo_duracion) & (listado_gral['plataform'] == platforma)]
    nuevalista = nuevalista.loc[nuevalista['duration_int'] == nuevalista['duration_int'].max()]
    result = nuevalista['title']
    return result

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año

In [442]:
def get_count_plataform(plataform:str):
    nuevalist =listado_gral[(listado_gral['plataform']==plataform)]
    count=nuevalist.shape[0]
    return count

In [443]:
get_count_plataform('hulu')

3073

Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(plataforma))

In [ ]:
def get_score_count (plataforma:str,puntaje:float,año:int):
    nuevalist = listado_gral[(listado_gral['plataform'] == plataforma) &  (listado_gral['score'] > puntaje) & (listado_gral['release_year'] == año)]
    result = nuevalist.shape[0]
    return result

Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [487]:
def get_actor(plataform:str, año:int):
    result = listado_gral[(listado_gral['plataform']==plataform) & (listado_gral['release_year']==año)]
    for i in result['cast']:
        if i != 'Sin dato ':
            i=i.replace(', ' , ',')
        else:
            pass
    lista=[]
    for i in result['cast']:
        if i != 'Sin dato':
            s=i.split(',')
            for j in range(len(s)):             
                if s[j] not in lista:
                    lista.append(s[j])
                else:
                    pass
        else:
            pass
    lista=list(set(lista))
    contador = 0
    dict={}
    for i in lista:
        contador = 0
        for j in result['cast']:
            if i in j.split(','):
                contador+=1
        dict[i]=contador
    if len(dict)==0:
        return 'la plataforma no brinda esta informacion'
    else:
        return max(dict,key=dict.get)

In [488]:
get_actor('hulu', 2010)

'la plataforma no brinda esta informacion'

In [481]:
listado_gral[listado_gral['plataform']=='hulu']['cast'].unique

<bound method Series.unique of 0       Sin dato
1       Sin dato
2       Sin dato
3       Sin dato
4       Sin dato
          ...
3068    Sin dato
3069    Sin dato
3070    Sin dato
3071    Sin dato
3072    Sin dato
Name: cast, Length: 3073, dtype: object>