COMENZAMOS IMPORTANDO LAS LIBRERIAS QUE VAMOS A UTILIZAR PARA TRABAJAR CON LOS ARCHIVOS

In [4]:
import pandas as pd
import numpy as np

INGESTAMOS LOS ARCHIVOS

In [5]:
df_amazon = pd.read_csv(r'datsets/csvs/amazon_prime_titles.csv')
df_disney= pd.read_csv(r'datsets/csvs/disney_plus_titles.csv')
df_hulu = pd.read_csv(r'datsets/csvs/hulu_titles.csv')
df_netflix=pd.read_csv(r'datsets/csvs/netflix_titles.csv')

CREO LA COLUMNA PLATAFORMA PARA FUTURAS CONSULTAS

In [6]:
df_amazon['plataform']='amazon'
df_disney['plataform']='disney'
df_hulu['plataform']='hulu'
df_netflix['plataform']='netflix'

CREO EL CAMPO ID Y LE ASIGNAMOS LA NOMECLATURA PEDIDA

In [7]:
df_amazon['ID']= 'a'+df_amazon['show_id']
df_disney['ID']= 'd'+df_disney['show_id']
df_hulu['ID']= 'h'+df_hulu['show_id']
df_netflix['ID']= 'n'+df_netflix['show_id']

UNA VEZ REALIZADO LOS PASOS ANTERIORES CONCATENO LOS ARCHIVOS PARA QUE QUEDE UN SOLO DF Y ASI AGILIZAR SU USO

In [8]:
frames= [df_amazon,df_disney,df_hulu,df_netflix]
listado_gral = pd.concat(frames, axis=0)
listado_gral.shape

(22998, 14)

REALIZO DIFERENTES CONTROLES PARA ENTENDER EN PROFUNDIDAD EL DF

In [9]:
#observo como quedo el datafreme en cuanto a columnas y registros
listado_gral.shape

(22998, 14)

In [10]:
#una vista general de la informacion del df
listado_gral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  plataform     22998 non-null  object
 13  ID            22998 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.6+ MB

In [11]:
#veo la cantidad de valores duplicados
listado_gral.isna().sum()

show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
plataform           0
ID                  0
dtype: int64

In [12]:
listado_gral[listado_gral.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, plataform, ID]
Index: []

In [13]:
#agrego este control aqui , ya que al momento de realizar la consulta del actor que mas aparece en los elencos de la plataforma hulu, me salia un error, al revisar esta la columna cast, descubro los valores faltantes.
df_hulu[df_hulu['plataform']=='hulu']['cast'].unique

<bound method Series.unique of 0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3068   NaN
3069   NaN
3070   NaN
3071   NaN
3072   NaN
Name: cast, Length: 3073, dtype: float64>

TOMO LA COLUMNA RATING Y REEMPLAZO LOS VALORES FALTANTES POR LA LETRA 'G' PARA CUMPLIR LA CONSIGNA PEDIDA Y COMPRUEBO

In [14]:
listado_gral.fillna({'rating': 'G'}, inplace=True)
listado_gral.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,as2

PASO TODO A MINUSCULA PARA CUMPLIR LA CONSIGNA

In [15]:
listado_gral['title']=listado_gral['title'].str.lower()
listado_gral['type']=listado_gral['type'].str.lower()
listado_gral['director']=listado_gral['director'].str.lower()
listado_gral['cast']=listado_gral['cast'].str.lower()
listado_gral['country']=listado_gral['country'].str.lower()
listado_gral['listed_in']=listado_gral['listed_in'].str.lower()
listado_gral['description']=listado_gral['description'].str.lower()
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"March 30, 2021",2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1

MODIFICO EL FORMATO DE LA FECHA

In [16]:
#reemplazo todos los valores que no tienen fecha a nat(not a time),
listado_gral['date_added']=pd.to_datetime(listado_gral['date_added'],errors='raise',format=None,yearfirst=True)
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1

SEPARO LA COLUMNA DURATION.

In [17]:
#Con la funcion split , separo el contenido de la columna duration por donde aparece un espacio, de esta manera me queda dividido en dos columnas,
#por un lado en int el numero de la duracion y por otro en str el tipo de la duracion (serie(season)o pelicula(min))
separated = listado_gral["duration"].str.split(' ', n=1, expand=True)
listado_gral["duration_int"] = separated[0]
listado_gral["duration_type"] = separated[1]
listado_gral.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1,113,min

ACOMODO  COLUMNAS CREADAS REEMPLZANDO NULOS y CAMBIANDO SU FORMATO PARA PODER TRABAJARLAS MAS ADELANTE

In [18]:
listado_gral["duration_int"] = listado_gral["duration_int"].fillna(0)
listado_gral['duration_int'] = listado_gral['duration_int'].astype('int64')

In [19]:
listado_gral = listado_gral.fillna('Sin dato')
listado_gral.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
description      0
plataform        0
ID               0
duration_int     0
duration_type    0
dtype: int64

EMPIZO A TRABAJAR CON LOS ARCHIVOS DE LOS RATING

LOS INGESTO

In [20]:
df1 = pd.read_csv('datasets_rating/ratings/1.csv')
df2 = pd.read_csv('datasets_rating/ratings/2.csv')
df3 = pd.read_csv('datasets_rating/ratings/3.csv')
df4 = pd.read_csv('datasets_rating/ratings/4.csv')
df5 = pd.read_csv('datasets_rating/ratings/5.csv')
df6 = pd.read_csv('datasets_rating/ratings/6.csv')
df7 = pd.read_csv('datasets_rating/ratings/7.csv')
df8 = pd.read_csv('datasets_rating/ratings/8.csv')

CONCATENO TODOS LOS ARCHIVOS PARA PODER TRABAJAR MAS FACIL

In [21]:

frames =[df1,df2,df3,df4,df5,df6,df7,df8]
rating_unido = pd.concat(frames, axis=0)

CREO LA COLUMNA 'SCORE Y CALCULO SU PROMEDIO

In [22]:

mean_score= rating_unido.groupby('movieId')['rating'].mean()

In [23]:
#corroboramos los duplicados y eliminamos los que aparezcan 
raiting_unido_sd=rating_unido.drop_duplicates(subset='movieId')

In [24]:
#creo la columna 'score'
listado_gral['score'] = raiting_unido_sd.groupby('movieId')['rating'].transform(lambda x: mean_score.loc[x.name])

MODIFICO FORMATOS Y ELIMINO VALORES NULOS DE LA COLUMNA DURATION_INT , PARA PODER TRABAJARLA

In [25]:
listado_gral['duration_int'] = pd.to_numeric(listado_gral['duration_int'], errors='coerce')

In [26]:
listado_gral['duration_int'] = listado_gral['duration_int'].fillna(0).astype(int)

In [27]:
listado_gral.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,ID,duration_int,duration_type,score
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30 00:00:00,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,as1,113,min,3.549127
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30 00:00:00,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,as2,110,min,3.556886

POR ULTIMO , YA CON EL DATAFRAME LIMPIO, ORDENADO Y EXAMINADO , EXPORTO EL ARCHIVO A FORMATO CVS PARA TRABAJARLO EN EL SIGUIENTE PUNTO. EL EDA

In [28]:
listado_gral.to_csv('./ETL.csv',index=False)

FUNCIONES PARA LA API

In [29]:
#esta funcion devulve el regitro de mayor duracion por año y por plataforma
def get_max_duration(año:int,tipo_duracion:str, platforma:str):
    nuevalista = listado_gral[(listado_gral['release_year'] == año) &  (listado_gral['duration_type'] == tipo_duracion) & (listado_gral['plataform'] == platforma)]
    nuevalista = nuevalista.loc[nuevalista['duration_int'] == nuevalista['duration_int'].max()]
    result = nuevalista['title']
    return result

In [30]:
get_max_duration(2015,'min','hulu')

453    the connection
Name: title, dtype: object

In [31]:
#esta funcion devuelve la cantidad de peliculas con un puntaje(promedio) por año y por plataforma
def get_score_count (plataforma:str,puntaje:float,año:int):
    nuevalist = listado_gral[(listado_gral['plataform'] == plataforma) &  (listado_gral['score'] > puntaje) & (listado_gral['release_year'] == año)]
    result = nuevalist.shape[0]
    return result

In [32]:
get_score_count('hulu',3.0,2020)

355

In [33]:
#esta funcion devuelve la cantidad de regitros que presenta una plataforma
def get_count_plataform(plataform:str):
    nuevalist =listado_gral[(listado_gral['plataform']==plataform)]
    count=nuevalist.shape[0]
    return count

In [34]:
get_count_plataform('netflix')

8807

In [35]:
#por ultimo , esta funcion devulve el actor que mas se repite en los regitros , por año y por plataforma
def get_actor(plataform:str, año:int):
    result = listado_gral[(listado_gral['plataform']==plataform) & (listado_gral['release_year']==año)]
    for i in result['cast']:
        if i != 'Sin dato ':
            i=i.replace(', ' , ',')
        else:
            pass
    lista=[]
    for i in result['cast']:
        if i != 'Sin dato':
            s=i.split(',')
            for j in range(len(s)):             
                if s[j] not in lista:
                    lista.append(s[j])
                else:
                    pass
        else:
            pass
    lista=list(set(lista))
    contador = 0
    dict={}
    for i in lista:
        contador = 0
        for j in result['cast']:
            if i in j.split(','):
                contador+=1
        dict[i]=contador
    if len(dict)==0:
        return 'la plataforma no brinda esta informacion'
    else:
        return max(dict,key=dict.get)

In [36]:
get_actor('amazon', 2020)

' anjali'